<section class="about-us-wrapper">
      <div class="about-us">
                <div class="about-us-image">
          <img src="https://i.pinimg.com/736x/7b/94/ae/7b94aef7136b22d2304d8dcfe5866819.jpg" alt="Sota Spa">
        </div>
        <div class="about-us-text scroll-fade-in" >
          <h3 style="color: #b28d5f;">Về chúng tôi</h3>
          <h1>Sota – Spa & Beauty</h1>
          <p>
            Tại <span style="color: #004d40;">Sota</span>, chúng tôi tin rằng vẻ đẹp đích thực đến từ sự hài hòa giữa cơ thể và tâm hồn.
            Mỗi liệu trình tại đây không chỉ là một dịch vụ làm đẹp – mà còn là hành trình chăm sóc
            và yêu thương bản thân. Chúng tôi mang đến không gian yên tĩnh, tinh tế, giúp bạn thả lỏng
            hoàn toàn và tái tạo năng lượng tích cực.
          </p>
          <p>
            <span style="color: #004d40;">Sota</span> cam kết sử dụng những sản phẩm an toàn, tự nhiên cùng đội ngũ kỹ thuật viên chuyên nghiệp.
            Chúng tôi lắng nghe từng nhu cầu riêng biệt của khách hàng để thiết kế liệu trình phù hợp nhất.
            Từ chăm sóc da mặt đến massage trị liệu, mọi trải nghiệm đều được cá nhân hóa để bạn cảm thấy
            được nâng niu trọn vẹn.
          </p>
          <p>
            Chúng tôi không ngừng đổi mới để mang đến những giải pháp làm đẹp toàn diện và bền vững.
            Với sứ mệnh "Khơi dậy vẻ đẹp tự nhiên – nuôi dưỡng sự an yên", <span style="color: #004d40;">Sota</span> hướng tới việc trở thành
            nơi chốn tin cậy cho mọi khách hàng trên hành trình chăm sóc bản thân và tìm về sự cân bằng.
          </p>
        </div>

      </div>
    </section>