<footer class="footer-end">
  <div class="footer-column">
    <h2>SOTA SPA – ĐẸP LÀ KẾT QUẢ CỦA YÊU THƯƠNG CHÍNH MÌNH</h2>
    <h4>
      HUNG VIET PHAT COMPANY LIMITED<br>
      Address: 135/3 Thanh Thai Street, Quang Trung Ward, Quy Nhon City, Binh Dinh Province<br>
      Customer Service: 0796 781 024<br>
      Online Sales: 0796 781 024<br>
      Email: hqv&#64;hungvietphat.io.vn
    </h4>
  </div>

  <div class="footer-column">
    <h2>CONTACT US</h2>
    <div class="social-icons">
      <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png" alt="Facebook">
      <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png" alt="Instagram">
      <img src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png" alt="Twitter">
      <img src="https://static.wixstatic.com/media/78aa2057f0cb42fbbaffcbc36280a64a.png" alt="LinkedIn">
      <img src="https://static.wixstatic.com/media/11062b_6e7994bdd94b41178720ff1641a0f323~mv2.png" alt="Zalo">
    </div>
    <h4>
      Author: Ho Quoc Viet<br>
      University: Quy Nhon University<br>
      Email: hqv&#64;hungvietphat.io.vn<br>
      Phone: 0796 781 024
    </h4>
  </div>

  <div class="footer-column">
    <h2>UTILITIES & DOWNLOADS</h2>
    <div class="download-links">
      <a href="https://play.google.com/store" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Download on Google Play">
      </a>
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store">
      </a>
    </div>
  </div>
</footer>

<section class="copyright-section">
  <span class="copyright-text">
    © 2025 sotaspa.vn. All Rights Reserved.
  </span>
</section>