<app-headerbest-khuyenmai-components></app-headerbest-khuyenmai-components>
<app-floating-social-components></app-floating-social-components>


<section class="intro-banner">
  <h2>Ưu đãi đặc biệt chỉ có tại</h2>
  <h1>Sota – Spa & Beauty</h1>
  <h4>
    Khám phá các chương trình khuyến mại hấp dẫn: giảm giá liệu trình, tặng kèm dịch vụ cao cấp và combo chăm sóc sắc đẹp – chỉ có trong thời gian giới hạn. Đừng bỏ lỡ cơ hội làm đẹp tiết kiệm cùng Sota!
  </h4>

</section>


<div class="promotion-container">
  <div class="promotion-grid">
    <div
      class="promotion-card"
      *ngFor="let promotion of paginatedPromotionList"
      (click)="goToPromotionDetail(promotion.id)"
      style="cursor: pointer;"
    >
      <img
        *ngIf="promotion.hinhanh"
        [src]="promotion.hinhanh"
        alt="Hình ảnh khuyến mãi"
        class="promotion-image"
      />

      <div class="promotion-content-wrapper">
        <h2 class="promotion-title">{{ promotion.tieude }}</h2>
        <div class="promotion-meta">
          Bắt đầu: {{ promotion.ngaybatdau | date: 'dd-MM-yyyy' }} &nbsp; Hết hạn: {{ promotion.ngayhethan | date: 'dd-MM-yyyy' }} &nbsp; 👁
          {{ promotion.luotxem }} &nbsp;
          <button
            style="border: none"
            (click)="likePromotion(promotion.id); $event.stopPropagation()"
            class="like-button"
          >
            ❤️ {{ promotion.luotthich }}
          </button>
        </div>
        <p class="promotion-subtitle">{{ promotion.tieudephu }}</p>
        <div class="promotion-content" [innerHTML]="promotion.noidung"></div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      ⬅ Trang trước
    </button>

    <span>
      Trang <strong>{{ currentPage }}</strong> / {{ totalPages }}
    </span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Trang sau ➡
    </button>
  </div>
</div>

<app-promotion-components></app-promotion-components>
<app-footer-components></app-footer-components>