<div class="stats-grid" #statsGrid>
  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-spa"></i>
    </div>
    <div class="stat-number">{{ userCount }}+</div>
    <div class="stat-label">Người sử dụng dịch vụ</div>
  </div>

    <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-leaf	"></i>
    </div>
    <div class="stat-number">{{ services }}+</div>
    <div class="stat-label">Dịch vụ</div>
  </div>

  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-smile"></i>
    </div>
    <div class="stat-number">{{ happyCustomerCount }}+</div>
    <div class="stat-label">Khách hàng hài lòng</div>
  </div>

  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-star"></i>
    </div>
    <div class="stat-number">{{ reputationPercent }}%</div>
    <div class="stat-label">Độ uy tín của spa</div>
  </div>
</div>
