<app-headerbest-blog-components></app-headerbest-blog-components>
<app-floating-social-components></app-floating-social-components>

<section class="intro-banner">
  <h2>Chia sẻ kiến thức & bí quyết làm đẹp tại</h2>
  <h1>Sota – Spa & Beauty</h1>
  <h4>
    Cập nhật các bài viết hữu ích về chăm sóc da, xu hướng làm đẹp, dinh dưỡng và phong cách sống lành mạnh – tất cả được chia sẻ từ đội ngũ chuyên gia của Sota. Đừng bỏ lỡ những thông tin thú vị giúp bạn nâng tầm vẻ đẹp mỗi ngày!
  </h4>
</section>


<div class="blog-container">
<div class="blog-grid">
<div class="blog-card " *ngFor="let blog of paginatedBlogList" (click)="goToBlogDetail(blog.id)" style="cursor: pointer;">
  <img *ngIf="blog.hinhanh" [src]="blog.hinhanh" alt="Hình ảnh blog" class="blog-image" />

  <div class="blog-content-wrapper">
    <h2 class="blog-title">{{ blog.tieude }}</h2>
    <div class="blog-meta">
      {{ blog.ngaydang | date: 'dd-MM-yyyy HH:mm:ss' }} &nbsp; 👁
      {{ blog.luotxem }} &nbsp;
      <button style="border: none" (click)="likeBlog(blog.id); $event.stopPropagation()" class="like-button">
        ❤️ {{ blog.luotthich }}
      </button>
    </div>
    <p class="blog-subtitle">{{ blog.tieudephu }}</p>
    <div class="blog-content" [innerHTML]="blog.noidung"></div>
  </div>
</div>

  </div>

<div class="pagination">
  <button
    (click)="prevPage()"
    [disabled]="currentPage === 1"
    [class.active]="false"
  >
    ⬅ Trang trước
  </button>

  <span>
    Trang <strong>{{ currentPage }}</strong> / {{ totalPages }}
  </span>

  <button
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
    [class.active]="false"
  >
    Trang sau ➡
  </button>
</div>

</div>
<app-promotion-components></app-promotion-components>
<app-footer-components></app-footer-components>