<div class="stats-grid" #statsGrid>
  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-user-group"></i>
    </div>
    <div class="stat-number">{{ employee }}+</div>
    <div class="stat-label">Nhân viên</div>
  </div>

  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-door-open"></i>
    </div>
    <div class="stat-number">{{ room }}+</div>
    <div class="stat-label">Phòng dịch vụ</div>
  </div>

  <div class="stat-box">
    <div class="icon-wrapper">
      <i class="fas fa-calendar-check"></i>
    </div>
    <div class="stat-number">{{ year }}</div>
    <div class="stat-label">Năm thành lập</div>
  </div>
</div>
