<div class="floating-social-container">
  <a href="tel:0779 482 236" aria-label="Gọi ngay">
    <i class="fa-solid fa-phone"></i>
    <span class="tooltip">0779 482 236</span>
  </a>
    <a href="https://email.com/" target="_blank" aria-label="Email">
    <i class="fa-solid fa-envelope"></i>
    <span class="tooltip">hqv&#64;hungviecphat.io.vn</span>
  </a>
  <a href="https://www.facebook.com/ho.quoc.viet.689917" target="_blank" aria-label="Facebook">
    <i class="fa-brands fa-facebook-f"></i>
    <span class="tooltip">Facebook</span>
  </a>
  <a href="https://www.instagram.com/nguyenviethoag/" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-instagram"></i>
    <span class="tooltip">Instagram</span>
  </a>
</div>
