<section class="about-us-wrapper">
  <div class="about-us">

    <div class="about-us-text scroll-fade-in" >
      <h3 style="color: #b28d5f;">Dấu Ấn Chất Lượng</h3>
      <h1>TỰ HÀO CHỨNG NHẬN ISPA QUỐC TẾ</h1>
      <p>
        Sota Spa tự hào là một trong những điểm đến thư giãn hiếm hoi tại Việt Nam vinh dự đạt được chứng nhận danh giá từ
        <strong style="color: #004d40;">INTERNATIONAL SPA ASSOCIATION (ISPA)</strong> – Hiệp hội Spa hàng đầu thế giới. Đây không chỉ là sự công nhận cho hành trình nỗ lực không ngừng nghỉ của chúng tôi mà còn là bảo chứng vững chắc cho chất lượng dịch vụ vượt trội, tiêu chuẩn an toàn tuyệt đối và trải nghiệm đẳng cấp quốc tế mà mỗi khách hàng xứng đáng được tận hưởng.
      </p>
      <p>
        Chứng nhận từ <strong style="color: #004d40;">ISPA</strong> không chỉ khẳng định vị thế và uy tín của Sota Spa trong ngành công nghiệp làm đẹp toàn cầu, mà còn thể hiện cam kết kiên định của chúng tôi. Đó là sự tuân thủ nghiêm ngặt các nguyên tắc đạo đức nghề nghiệp, đầu tư vào đào tạo chuyên sâu đội ngũ nhân viên, và không ngừng cải tiến mọi quy trình chăm sóc sức khỏe – sắc đẹp, mang đến những giá trị bền vững nhất cho quý khách hàng.
      </p>
    </div>
        <div class="about-us-image">
      <img src="assets/images/SpaCe.png" alt="Sota Spa Cert">
    </div>
  </div>
</section>